html {
  scroll-behavior: smooth;
}

.stats,
.steps,
.reviews,
.pricing,
.features {
  animation: fadeUp 1s ease;
}

nav {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: space-between;

  padding: 20px 8%;

  background: rgba(15,23,42,.85);
  backdrop-filter: blur(15px);
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 100px 8%;
}

.section-title {
  text-align: center;
  color: white;
  font-size: 3rem;
}

.card {
  z-index: 2;
  color: white;
  height: 350px;
  border-radius: 25px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: 0.4s;
  display: flex;
  align-items: flex-end;
  position: relative;
  padding: 30px;
}

.card:hover {
  transform: translateY(-10px) scale(1.03);

  box-shadow:
    0 20px 40px rgba(59,130,246,.25);
}

.norway {
  background-image: url('/assets/images/NorwayForEverTravel.jpg');
}

.cyprus {
  background-image: url('/assets/images/CyprusForEverTravel.jpg');
}

.switzerland {
  background-image: url('/assets/images/SwitzerlandForEverTravel.jpg');
}

.norway-tour {
  background-image:
    url('/assets/images/NorwayForTour.jpg');
}
.cyprus-tour {
  background-image:
    url('/assets/images/CyprusForTour.jpg');
}
.swiss-tour {
  background-image:
    url('/assets/images/SwitzerlandForTour.jpg');
}

.price-card button {
  width: 100%;
  margin-top: 20px;

  background: #3b82f6;
  color: white;

  transition: .3s;
}
.price-card button:hover {
  transform: scale(1.05);
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to top,
    rgba(0,0,0,.8),
    rgba(0,0,0,.2),
    transparent
  );
}
.card-content {
  position: relative;
  z-index: 2;
}

.stat-icon {
  font-size: 6rem;
  margin-bottom: 15px;

  animation: floatIcon 3s ease-in-out infinite;
}

.step-icon {
  font-size: 6rem;
  margin-bottom: 15px;

  animation: floatIcon 3s ease-in-out infinite;
}

.tour-image {
  height: 180px;
  border-radius: 15px;
  margin-bottom: 20px;

  background-size: cover;
  background-position: center;
}

@keyframes floatIcon {

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }

}


.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0,0,0,.75);

  z-index: 9999;
}

.modal {
  width: 500px;
  max-width: 90%;

  background:
    linear-gradient(
      135deg,
      rgba(15,23,42,.95),
      rgba(30,41,59,.95)
    );

  border: 1px solid rgba(255,255,255,.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  border-radius: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 18px;
  animation: modalAppear .35s ease;
}

.modal input {
  padding: 15px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,.15);
  background: rgba(255,255,255,.05);
  color: white;
  outline: none;
  transition: .3s;
}

.modal input:focus {
  border-color: #3b82f6;
  box-shadow:
    0 0 20px rgba(59,130,246,.35);
}

.modal select {
  padding: 15px;
  border-radius: 12px;
  background: rgba(255,255,255,.05);
  color: white;
  border: 1px solid rgba(255,255,255,.15);
}
.modal select option {
  color: black;
  background: white;
}

.modal button {
  border: none;
  padding: 14px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;

}

.close-btn {
  background: #ef4444;
  color: white;
}

.submit-btn {
  background: #3b82f6;
  color: white;
}

.submit-btn:hover {
  transform: translateY(-2px);
}

.close-btn:hover {
  transform: translateY(-2px);
}
@keyframes modalAppear {

  from {
    opacity: 0;
    transform: scale(.9) translateY(30px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }

}
